<div class="container">
  <h1>Update article</h1>
  <!-- The part before the colon (article) can be anything, as long as it matches the variable in the parathensis on the 1st line of _form.html.erb -->
  <%= render 'form', article: @article %>
</div>
