<div class="container">
  <div class="header">
    <h1><%= @article.title %></h1>
    <%= link_to "Edit article", edit_article_path, class: "btn-elegant" %>
  </div>
  <div class="details">
    <p><%= @article.details %></p>
  </div>
  <div class="completed-status">
    <% if @article.completed %>
      <input type="checkbox" checked>
      This article is completed.
    <% else %>
      <input type="checkbox">
      This article is not completed yet.
    <% end %>
  </div>
  <%= link_to articles_path, class: "btn-elegant" do %>
    <i class="fa fa-undo"> Return to articles</i>
  <% end %>
</div>
